<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="https://apis.google.com/js/api.js"></script>

<div *ngIf="!loggedIn">
  <div class="notLogIn">
    <asl-google-signin-button
      type="standard"
      size="large"
      theme="filled_black"
    ></asl-google-signin-button>
  </div>
</div>
<div *ngIf="isLoading && loggedIn">
  <app-transition-screen></app-transition-screen>
</div>
<div class="background" *ngIf="!isLoading && loggedIn">
  <div class="header">
    <div class="header-info">
      <div class="icon">
        <img
          style="max-width: 80%; max-height: 80%"
          src="../../assets/dragonball_goku_icon"
        />
      </div>
      <div class="logo">
        <img
          style="max-width: 100%; max-height: 100%"
          src="../../assets/dragon_ball_superr.png"
        />
        <img
          style="max-width: 60%; max-height: 80%"
          src="../../assets/goku_fly"
          alt=""
        />
      </div>

      <div class="separator"></div>
    </div>

    <div class="content">
      <div class="content-title">
        <div class="recommend">
          <h1>HIGHLIGHTS</h1>
        </div>
        <div class="slider">
          <app-carousel
            *ngIf="sliderArray"
            (songEmitter)="playThis($event)"
            [slides]="sliderArray"
          ></app-carousel>
        </div>
      </div>
      <div class="youtube-video">
        <h2>VIDEOS</h2>
        <div class="video">
          <div style="display: flex; flex-direction: row">
            <img
              (click)="currentPlaying = false; currentSearching = false"
              *ngIf="currentPlaying"
              class="vegeta-laugh"
              src="../../assets/vegeta-laughing.gif"
              alt=""
            />
            <mat-form-field class="input" appearance="outline">
              <mat-icon matPrefix>search</mat-icon>
              <input matInput placeholder=" Search" [(ngModel)]="inputValue" />
              <mat-icon (click)="searchVideos()" matSuffix>check</mat-icon>
            </mat-form-field>
          </div>
          <div *ngIf="!currentPlaying && !currentSearching">
            <app-goku-gokupowerup></app-goku-gokupowerup>
          </div>
          <div
            class="youtube-search-list"
            *ngIf="currentSearching && searchVideosArray"
          >
            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile
                ><app-videos-display
                  (click)="playThis(searchVideosArray[0].id)"
                  [search]="currentSearching"
                  [videos]="searchVideosArray[0]"
                ></app-videos-display
              ></mat-grid-tile>
              <mat-grid-tile
                ><app-videos-display
                  (click)="playThis(searchVideosArray[1].id)"
                  [search]="currentSearching"
                  [videos]="searchVideosArray[1]"
                ></app-videos-display
              ></mat-grid-tile>
              <mat-grid-tile
                ><app-videos-display
                  (click)="playThis(searchVideosArray[2].id)"
                  [search]="currentSearching"
                  [videos]="searchVideosArray[2]"
                ></app-videos-display
              ></mat-grid-tile>
              <mat-grid-tile
                ><app-videos-display
                  (click)="playThis(searchVideosArray[3].id)"
                  [search]="currentSearching"
                  [videos]="searchVideosArray[3]"
                ></app-videos-display
              ></mat-grid-tile>
            </mat-grid-list>
          </div>
          <div *ngIf="currentPlaying && !currentSearching">
            <youtube-player
              class="yb-player"
              [videoId]="url"
              suggestedQuality="highres"
              [width]="screenWidth"
            >
            </youtube-player>
          </div>
        </div>
        <div class="charactor"></div>
      </div>
      <div class="popular-youtube">
        <div class="first-popular" *ngIf="popularMusicArray">
          <app-videos-display
            (click)="playThis(popularMusicArray[0].id)"
            [videos]="popularMusicArray[0]"
          ></app-videos-display>
        </div>
        <div class="second-popular">
          <app-videos-display
            (click)="playThis(popularMusicArray[1].id)"
            [videos]="popularMusicArray[1]"
          ></app-videos-display>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="img-footer"></div>
      <div class="logo-outside">
        <img class="logo-footer" src="../../assets/goku-loho.png" alt="" />
      </div>
    </div>
    <div class="ball-icon-sticky">
      <span></span>
    </div>
  </div>
</div>
